<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4717c">  <td>19/06/11 15:01:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GlobalTest.SuiteSetup()[pri:0, instance:TestSuite.LoginTest@657c8ad9]">&gt;&gt;SuiteSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990355670</td>   <td></td> </tr>
<tr bgcolor="a9a7fe">  <td>19/06/11 15:01:23</td>   <td>10148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidLogin()[pri:0, instance:TestSuite.LoginTest@657c8ad9]">verifyValidLogin</td> 
  <td>main@990355670</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>19/06/11 15:01:53</td>   <td>41005</td> <td>&nbsp;</td><td title="&lt;&lt;GlobalTest.SuiteTearDown()[pri:0, instance:TestSuite.LoginTest@657c8ad9]">&lt;&lt;SuiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990355670</td>   <td></td> </tr>
</table>
